body {
  display: flex;
  align-items: center;
  min-height: 100vh;

  background-color: var(--color-blue-1);
  background-image: url('https://drive.google.com/uc?export=download&id=1YMq9zs_SPAa4AnFyIpQtltXTcNfkcCmm');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  padding-left: 100px;

  display: flex;
  flex-direction: column;
}

.container .title-1 {
  color: var(--color-white-1);

  text-shadow: 0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1);

  font-size: 70px;
  margin-bottom: 12px;
}

.container .title-2 {
  color: var(--color-white-1);

  text-shadow: 0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1),
    0 0 6px var(--color-blue-1), 0 0 6px var(--color-blue-1);

  font-size: 32px;
  margin-bottom: 20px;
}
.container .button-login {
  display: flex;
}
.button-login button {
  width: 150px;
  color: var(--color-white-1);
  font-size: 25px;
  padding: 15px 0;
  background-color: var(--color-blue-4);
  border: none;
  cursor: pointer;
}
@media (max-width: 1359px) {
  .container {
    padding-left: 20px;
  }
  .container .title-1 {
    font-size: 64px;
    margin-bottom: 20px;

    text-shadow: 0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1);
  }
  .container .title-2 {
    font-size: 24px;
    width: 280px;

    text-shadow: 0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1),
      0 0 4px var(--color-blue-1), 0 0 4px var(--color-blue-1);
  }
}
